.eyeButtonStyle{
    border: 0;
    background: transparent;
}

.eyeButtonStyle:hover {
    cursor: pointer;
}

.eyeImageStyle{
    width: 30px;
}

.inputStyle{
    font-size: 30px;
}

.randomButtonStyle{
    border: solid 1px black;
    background : black;
    color: white;
    border-radius: 10px;
}

.randomButtonStyle:hover{
    cursor: pointer;
}

.strongStyle{
    margin-top: 10px;
    width: 240px;
    height: 10px;
    background-color: black;
    border-radius: 5px;
}